.auth-image{
    background-image: url("./assets/auth.jpeg");
    background-size: cover;
    background-position: center center;
}
.auth-layout{
    background-color: rgb(1, 1, 45);
    background-image: url("./assets/Birrd.png");
    background-size: cover;
    background-position: center ;
}

